<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>member find</title>
</head>
<body>
<div th:replace="/member/header :: headerFragment"></div>
<h2>회원상세 조회</h2>
<table>
    <tr><th>이름</th><th>이메일</th><th>패스워드</th><th>등록시간</th></tr>
    <tr th:each = "memberResDto :${memberList}">
        <td th:text = "${memberResDto.name}"></td>
        <td th:text = "${memberResDto.email}"></td>
        <td th:text = "${memberResDto.password}"></td>
        <td th:text = "${memberResDto.create_time}"></td>
        <!--        member/find?id=xx 방식으로 요청 -->
        <!--        @는 타임리프(th)의 링크 url표현식-->
    </tr>
</table>

</body>
</html>